@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

.form-group{
    display: grid;
    position: relative;
    width: 90%;
}

.form-group > input{
    position: inherit;
    width: inherit;
}

.form-group > .Dropdown-root{
    width: inherit;
}